@import 'styles/color.module';

.block-selector {
  position: absolute;
  z-index: 99;
  height: 280px;
  overflow: hidden;

  .block-displayed {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-height: 280px;
    padding: 5px;
    overflow: auto;
    border: 1px solid $gray-300-transparent;
    border-radius: 4px;
    background-color: $white;
    box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
      $gray-300-transparent 0px 3px 6px, $gray-300-transparent 0px 9px 24px;

    strong {
      margin-bottom: 5px;
      margin-left: 5px;
      color: $gray-100;
      font-size: 12px;
    }
  }
}

.dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
