@import 'styles/color.module';

@mixin heading-style($border-size, $padding) {
  padding: $padding 0px;
  border-bottom: $border-size solid $gray-300;
}

.block {
  position: relative;
  width: 100%;

  & > h1,
  & > h2,
  & > h3,
  & > p {
    width: 100%;
    word-break: break-all;
  }

  & > *:focus {
    outline: none;
  }

  & > h1 {
    font-size: 36px;
    font-weight: 700;
    @include heading-style(1.5px, 8px);
  }

  & > h2 {
    font-size: 28px;
    font-weight: 600;
    @include heading-style(1px, 6px);
  }

  & > h3 {
    font-size: 24px;
    font-weight: 500;
    @include heading-style(0.5px, 4px);
  }

  & > p {
    font-size: initial;
    font-weight: 400;
    line-height: 30px;
  }

  & > svg {
    position: absolute;
    transform: translate(-20px, 2px);
    fill: none;
  }

  & > svg:hover {
    fill: $gray-200;
  }
}
