.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .icons {
    position: relative;

    .bubbles {
      position: absolute;
      z-index: -1;
      top: -6rem;
      right: -8rem;
    }
  }

  .copy {
    margin-top: 1rem;
    text-align: center;
  }

  .login-btn {
    margin-top: 3rem;
  }
}
