@import 'styles/color.module';

.text {
  font-size: 14px;
}

.input-section {
  position: relative;
  width: 110%;
  text-align: center;

  .copy-icon {
    position: absolute;
    top: 20px;
    right: 42px;
    cursor: pointer;
  }

  .input {
    width: calc(100% - 6rem);
    margin-top: 15px;
    padding: 10px;
    border: 1px solid $gray-100;
    border-radius: 10px;
    font-size: 14px;
  }
}

.disabled {
  text-align: center;
}

.invalid {
  border: 1px solid $red !important;
}

.error-message {
  margin: 10px;
  color: $red;
  font-size: 12px;
}
