@import 'style/color.scss';

.modal {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;
    height: fit-content;

    border-radius: 10px;
    background-color: $primary-100;
    padding: 20px;
    color: $white;
    font-size: 14px;
    margin: auto;
  }
  .dimmer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $modalBackground;
  }
}
