@import 'styles/color.module';

.text {
  font-size: 14px;
}

.input-section {
  width: 270px;
  margin-bottom: 12px;
  text-align: center;

  .input {
    width: calc(100% - 6rem);
    padding: 10px;
    border: 1px solid $white;
    border-radius: 10px;
    color: $white;
    font-size: 14px;

    &:disabled {
      background-color: $primary-100;
    }
  }
}

.input-label {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: start;
  width: 192px;
  padding: 4px;

  .code-block-icon {
    padding: 0px 4px;
    color: $white;
  }

  .label-title {
    color: $white;
  }

  .copy-icon {
    position: absolute;
    top: 50%;
    right: 4px;
    margin-left: 12px;
    padding: 2px;
    transform: translate(0, -50%);
    border-radius: 4px;

    background-color: $off-white;
    color: $primary-100;
    cursor: pointer;
  }
}

.button {
  display: flex;
  justify-content: center;
  max-width: 270px;
  height: 40px;
  border-radius: 10px;
  background-color: $red;
}
