@import 'styles/color.module.scss';

.text {
  font-size: 14px;
}

.input-section {
  position: relative;
  width: 270px;
  text-align: center;
  margin-bottom: 12px;

  .copy-icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 42px;
    cursor: pointer;
    color: $white;
  }

  .input {
    width: calc(100% - 6rem);
    border: 1px solid $white;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    color: $white;

    &:disabled {
      background-color: $primary-100;
    }
  }
}

.input-label {
  width: 192px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px;

  .code-block-icon {
    padding: 0px 4px;
    color: $white;
  }

  .label-title {
    color: $white;
  }
}

.button {
  display: flex;
  justify-content: center;
  background-color: $red;
  height: 40px;
  max-width: 270px;
  border-radius: 10px;
}
