@import 'styles/color.module.scss';

.container {
  position: relative;
}

.select-modal {
  z-index: 2;
  position: absolute;
  top: 20em;
  left: 50px;
  box-shadow: 1px 1px 3px $gray-300;

  .menu-list {
    li {
      padding: 8px 15px;
      cursor: pointer;
      &:not(:last-of-type) {
        border-bottom: 1px solid $gray-200;
      }
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
