@import 'styles/color.module';

@mixin container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  padding: 25px;
  gap: 15px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 240px;
  height: 100vh;
  overflow: hidden;
}

.sidebar-container__scrollable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 127px);
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

.header {
  @include container;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  border-bottom: 1px solid $gray-300;

  & > h1 {
    color: $black;
    font-size: 20px;
    font-weight: 500;
  }

  & > svg {
    stroke: $gray-200;
    fill: $gray-200;
  }
}

.member-list {
  @include container;
  border-bottom: 1px solid $gray-300;
}

.member-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;

  & > img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  & > p {
    color: $black;
  }
}

.mom-list-container {
  @include container;
}

.mom-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & > h2 {
    color: $black;
    font-size: 18px;
    font-weight: 500;
  }

  & > svg {
    stroke: $gray-200;
    fill: $gray-200;
  }
}

.mom-list {
  color: $gray-100;
  font-size: 16px;

  & > li {
    margin-top: 15px;
    cursor: pointer;
  }

  & > li:first-child {
    margin-top: 0px;
  }
}

.conf-button {
  position: absolute;
  bottom: 15px;
  width: 80px;
  height: 25px;
  border-radius: 13px;
  background-color: $green;
  color: $white;
}
