@import 'styles/color.module';

.button {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 10px 40px;
  border: none;
  border-radius: 40px;
  background-color: $primary-100;
  text-decoration: none;

  span {
    padding: 10px;
    color: $white;
    font-weight: 700;
  }
}

.disable {
  background-color: $gray-300;
}

.foursquare {
  padding: 5px;
  border-radius: 10px;
}
