@import "style/color.scss";

.button {
  width: fit-content;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: $primary-100;
  border-radius: 40px;
  padding: 10px 40px;

  button {
    color: $white;
    padding: 10px;
    font-weight: 700;
  }
}
