@import 'styles/color.module';

.mom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  background-color: $off-white;
}

.mom {
  position: relative;
  width: 90%;
  height: calc(100% - 30px);
}

.mom-header {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  height: 70px;
  padding: 0px 15px 20px 15px;
  color: $gray-100;

  & > h1 {
    font-size: 32px;
    font-weight: 500;

    &:focus {
      outline: none;
    }
  }
}

.mom-body {
  box-sizing: border-box;
  height: calc(100% - 70px);
  padding: 20px;
  background-color: white;
  white-space: pre-wrap;

  & > *:focus {
    outline: none;
  }
}

.default-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $off-white;

  .message {
    margin: 20px;
    color: $primary-100;
    font-size: 20px;
    font-weight: 700;
  }

  .highlight {
    margin: 0px 2px;

    padding: 0px 5px;
    border-radius: 12px;
    background-color: $off-white;

    color: $primary-100;
    font-weight: 700;
  }
}
