@import 'styles/color.module';

.video {
  width: 240px;
  height: 180px;
  border-radius: 20px;
}

.void-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 180px;
  border-radius: 20px;
  background-color: $primary-100;

  .void-img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
  span {
    color: $white;
    font-size: 12px;
  }
}

.my-video {
  border: 4px solid $highlight-100;
}
