body {
  line-height: normal;
  font-weight: 400;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
}

input,
textarea {
  padding: 0;
  border: none;
  outline: none;
  resize: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

p {
  padding: 0;
  margin: 0;
}
